.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  min-width: 360px;
  align-items: center;
  background-color: var(--white);

  .origin-logo {
    margin: 0 56px;
    content: url("./../../../../assets/images/logo-lg.svg");
  }
}

@media (max-width:641px)  {
  .toolbar {
    height: 56px;

    .origin-logo {
      margin: 0 16px;
      content: url("./../../../../assets/images/logo-sm.svg");
    }
  }
}
