@import './../../../../assets/styles/origin-variables';

div {
  label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $blueGray900;
    margin-bottom: 4px;
  }

  .currency-field {
    background: $white;
    border: 1px solid $blueGray50;;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px 0 13px 12px;
    display: flex;

    input {
      border: 0;
      height: 100%;
      width: 100%;
      margin-left: 8px;
      padding-right: 8px;

      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: $blueGray600;
    }
  }
}
