@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Work+Sans:wght@400;600&display=swap');
@import './assets/styles/_origin-variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: $blueGray10;
  color: $blueGray900;
  height: 100vh;
}

body, input, button {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}
