:host {
  display: flex;
  flex: 1;
}

.future-month-selector {
  display: flex;
  flex-direction: column;
  flex: 1;

  .month-selector {
    border: 1px solid var(--blue-gray-50);
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;

    .data {
      padding: 4px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 87px;
      line-height: 24px;

      .month {
        font-style: normal;
        font-weight: 600;
      }
    }

    img {
      background-position: center;
      transition: background 0.3s;
      cursor: pointer;
      padding: 16px 12px;

      &:hover {
        background: var(--blue-gray-10) radial-gradient(circle, transparent 1%, var(--blue-gray-10) 1%) center/15000%;
      }

      &:active {
        background-color: var(--blue-gray-400);
        background-size: 100%;
        transition: background -1s;
      }
    }
  }
}


@media (max-width:641px) {
 .future-month-selector .month-selector .data {
    padding: 7.5px 0 6.5px;
    font-size: 14px;
    line-height: 21px;
  }
}
