:root {
  --blue-gray-900: #1E2A32;
  --brand-color-primary: #1b31a8;
  --brand-color-secondary: #0079ff;
  --blue-gray-50: #e9eef2;
  --blue-gray-400: #708797;
  --blue-gray-600: #4d6475;
  --blue-gray-900: #1e2a32;
  --blue-gray-900v2: #1c1e1f;
  --blue-gray-10: #F4F8FA;
  --white:#FFFFFF;
}
